.menu-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-top-dishes {
    padding: 2rem 0;
    background-color: #f9f9f9;
    margin-top: 2rem;
}
.menu-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}
.menu-top-dishes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}

