.navbar {
  background-color: var(--white);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  opacity: 0.85;
  z-index: 999;

}

.navbar .brand {
  font-size: 2rem;
  font-weight: bold;
  color: #FF6A00;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: white;
}

.navbar .nav-items {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-grow: 1;
  padding: 0px 30px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-grow: 1;
}

.navbar li {
  padding: 0.5rem;
}

.navbar a {
  text-decoration: none;
  color: var(--gray);
  font-size: 1rem;
  font-size: 600;
}
.navbar .active {
  font-weight: bold;
  color: #000; 
}

.navbar .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.navbar .search-form input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #ccc;
  outline: none;
  width: 300px; 
}

.navbar .search-form button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar button {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.navbar button:hover {
  opacity: 0.8;
}

.navbar .search-button img{
  width: 34px;
  height: 34px;
}
.navbar .cart-button img {
  width: 40px;
  height: 40px;
}

.navbar .login-button,
.navbar .cart-button {
  /* border: none; */
  background-color: transparent;
  cursor: pointer;
}



.navbar-profile-section {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-profile {
  position: relative;
  cursor: pointer;
  padding: 16px;
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.navbar-profile:hover {
  background-color: #e0e0e0;
}

.navbar-list-items {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 0;
  display: none;
  z-index: 100;
  min-width: 150px;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.navbar-list li:hover {
  background-color: #f9f9f9;
}

.email-verify {
  color: #333;
}

.navbar-logout {
  color: #333;
}
.login-button{
  font-size:18px;
  font-weight: 500;
}

.navbar-profile:hover .navbar-list-items {
  display: block;
}

.cart-button {
  position: relative;
}
.red-dot {
  position: relative;
}

.red-dot::after {
  content: attr(data-count); 
  position: absolute;
  bottom: 34px;
  right: 5px;
  background-color: var(--orange);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}






