.menu-list-container {
    padding: 1rem 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 80%;
    margin:0px auto ;
  }
  
  .menu-top-dishes {
      padding: 1rem 0;
      background-color: #f9f9f9;
  }
  .menu-top-header {
    font-size: 2rem;
    font-weight: 700;
    color: var(--gray);
    margin-bottom: 1rem;
  }
  .menu-top-dishes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1600px;
    margin: 0 auto;
  }
  
  